/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

* {
    max-width: 100%;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
}

form > label {
    display: flex;
    flex-direction: row;
    margin: 0.125em 0;
}

form > label > span {
    width: 5em;
}

form > label > input {
    width: 10em;
}

form > div {
    margin: 0.125em 0;
}

form > div > button {
    margin: 0 0.25em 0 0;
}

textarea {
    width: 10em;
    height: 5em;
    margin: 0.125em 0 0 0;
    resize: none;
}

ul {
    width: 15em;
    list-style-type: none;
    padding: 0.25em 0;
    outline: 2px solid black;
}

li {
    margin: 0.125em 0;
    padding: 0 0.25em;
}

.selected {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: lightgrey;
}